@model Ajudai.Modelo.ddCliente
@{
    ViewBag.Title = "AlterarDados";
    Layout = "~/Views/Shared/_LayoutPageClient.cshtml";
}
<div class="row">
    <div class="col-md-12 pt-3 mb-3">
        <h1 class="h2">Alterar Dados</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 pb-2 mb-3">
        <p class="lead">Altere abaixo as informações desejadas.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 pb-5">
        <form class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mb-3">1. Dados Pessoais</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="firstName">Nome Completo</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Insira um nome completo válido.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="lastName">E-mail</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Insira um e-mail válido.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="lastName">Telefone Fixo</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Insira um telefone válido.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Telefone Celular</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Insira um celular válido.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="lastName">CEP</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Insira um CEP válido.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Endereço</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Insira um endereço válido.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 mb-3">
                    <label for="lastName">Cidade</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Insira uma cidade válida.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Estado</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Insira uma UF válida.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mb-3">2. Dados de Acesso</h4>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Login</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Insira um login válido.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="" value="" required>
                    <div class="invalid-feedback">
                        Insira uma senha válida.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg px-5" type="submit">Alterar Dados</button>
        </form>
    </div>
</div>
