@model Ajudai.Modelo.ddCliente
@{
    ViewBag.Title = "AlterarDados";
    Layout = "~/Views/Shared/_LayoutPageClient.cshtml";
}
<div class="container">
    <div class="form-horizontal alert-info col-md-12 mb-5">
        <div class="row">
            <div class="col-md-12 pt-3 mb-3">
                <h1 class="h2">Alterar Senha</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pb-2 mb-3">
                <p class="lead">Altere sua senha abaixo. Para alterar outros dados abra um chamado.</p>
            </div>
        </div>
    </div>

    <div class="form-horizontal alert-info col-md-12 mb-5 ">
        <div class="col-md-6 mb-5 ">
            <label for="password">Nova senha</label>
            @Html.TextBoxFor(x => x.senha, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.senha, "", new { @class = "text-danger" })
        </div>

        <button class="btn btn-primary btn-md  mb-3" type="submit">Alterar</button>
    </div>
    <footer class="fixed-bottom col-md-12 mb-5">
        <div class="form-row">
            <div class="col-md-12 mt-2">
                <a href="~/Cliente" class="btn btn-outline-dark btn-sm px-5">Voltar</a>
            </div>
        </div>
    </footer>
</div>
